.container{
    display: flex;
    background-color: #10BBD5;
    width: 1400px;
    height: 72px; 
    }
    .logo-link{
        background: #10BBD5;  
        padding-right: 4px;
        margin-left: 52px;
        padding-top: 24px;   
    }
    .title{
    flex-basis: 200px;
    background: #10BBD5;   
    height: fit-content;
    width: fit-content;
    
    }
    .title-1{
        color: #F8FDFE;
        font-family: Cabin;
     margin-top: 24.5px;
     font-weight: 700px;
    font-size: 24px;
    width:106px ;
    height:29px;
    flex-basis: 1180px;
    }
    .title-2{
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    width:106px ;
    height:29px;
    margin-top: 29px;
    padding-right: 8px;
    flex-basis: 51px;
    }
    .title-3{
        width:106px ;
        height:29px;
        margin-top: 29px;
        padding-left: 11.45px ;
        flex-basis: 92px;
    }
    /*top nav*/
    .nav-bar{
        
        margin-top: 4px;  
        background:#FFF;   
        width: 1296px;
        height:24px ;
    }
    .nav-bar-list{
       display: flex;
      list-style-type: style type none;
      margin-top: 4px;
      height:24px ;
    }
    .nav-bar-item{
        display: flex;
        list-style-type: none;
    justify-content: space-between;
    }
    .nav-bar-link{
        display: flex;
        color: #000;
    font-family: Cabin;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    }
    .link{
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    }
    .link1{
        display: flex;
        margin-left: 12px;
        padding-right: 450px;
        white-space: nowrap;
    }
    .link2{
    padding-left:435px;
    margin-right:40px; 
    white-space: nowrap;
    }
    .link3{
        margin-right:40px; 
        white-space: nowrap;
       }
    .link4{
        padding-right:52px;
        white-space: nowrap;
       }
       /* page header*/

       .header-page{
        width: 1400px;
        display: flex;
        flex-direction: column;
        padding-bottom: 23px;
        padding-top: 32px;
        background-color: #EEEEEF;
        padding-bottom: 120px;
        position: relative;
    
       }
       .main-menu{
        width: 1296px;
    margin: 0 auto;
    padding-top: 24px;
    display: grid;
    grid-template-columns: 306px 306px 306px 306px; 
    grid-template-rows:  512px 512px 512px; 
    gap: 32px 24px;
    padding-left: 0px;

       }
       .title-main-link{
        display: inline-block;
        color: #1F1F1F;
        font-family: Cabin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
        margin-left: 52px;
        width: 1296px;
       border-bottom: 1px solid #A8A8A8; 
       text-decoration: none;
       }
       .chat {
        width: 64px;
        height: 64px;
        background-color: #10BBD5;
        background-image: url(../hw6-book-shop/img/chat-icon.png);
        background-repeat: no-repeat;
        border-radius: 50%;
        border: none;
        position: fixed;
        bottom: 50px;
        right: 28px;
        z-index: 1;
        background-position: center;
       }    
       .main-menu-item{
        border: 1px solid #A8A8A8;
        background-color: white;
        padding: 32px;
        position: relative;
        list-style-type: none;
       }

       .badge-hit{
        color: #F8FDFE;
        background-color: #4200FF;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        font-family: Cabin;
        width: 20px;
        padding: 4px 8px;
        border-radius: 4px;
        position: absolute;
        margin-top: -10px;
       }
       .badge-new{
        color: #F8FDFE;
        background-color:#AF39E7;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        font-family: Cabin;
        width: 31px;
        padding: 4px 8px;
        border-radius: 4px;
        position: absolute;
        margin-top: -10px;
       }
       .percent{
        color: #F8FDFE;
        background-color:#EA33C0;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        font-family: Cabin;
        width: 52px;
        padding: 4px 8px;
        border-radius: 4px;
        position: absolute;
        left: 75px;
        margin-top: -10px;

       }
       .product-card{
        padding-left: 32px;
        padding-bottom:16px;
       }
       .title-product{
        color: var(--black, #1F1F1F);
        width: 242px;
        height: 31px;
        font-family: Cabin;
        white-space: nowrap;
        overflow: hidden;
        font-size: 20px;
        line-height: 28px; /* 140% */
        font-weight: 700;
        border-bottom: 1px solid#8E8E8E;
        margin-top:-16px;
       }
       .author-book{
        width: 241px;
        height: 24px;
        overflow: hidden;
        color: var(--gray, #8E8E8E);
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Cabin;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        margin-top:-16px;
       }
       .product-price{
        color: #E90000;
        font-family: Cabin;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px; /* 133.333% */      
        margin-top:-16px;
       }
       .old-price{
        color: #8E8E8E;
        font-family: Cabin;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px; /* 133.333% */
        text-decoration-line: line-through;
       }
       .button-buy{
        color: #F8FDFE;
        background-color: #4C394E;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 4px;
        width: 242px;;
        height: 40px;
        margin-top:-16px;
        cursor: pointer;
       }
       .greenbutton-buy{
        color: #F8FDFE;
        background-color: #4D762D;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 4px;
        width: 242px;
        height: 40px;
        margin-top:-16px;
        cursor: pointer;
       }
       .footer{
        background-color: #4C394E;
        color: #F8FDFE;
        font-family: Cabin;
        font-size: 16px;
        line-height: 24px; /* 150% */
        width: 1400px;
       }
       .footer-section{
        width: 1296px;
        padding: 32px 0;
        display: flex;
        justify-content: space-between;
        margin-left:52px;
       }

    